.satalite{
    position: absolute;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    overflow: hidden;
    
}
.sataliteVector{
    position: absolute;
    top: 74%;
    height: 20rem;
    z-index: -2;
}
.satalite img{
    position: absolute;
    /* height: 92%; */
    width: 45%;
}
.sataliteGlow{
    
    height: 12rem;
    z-index: -2;
}
.sataliteBackgroundGlow{
    position: absolute;
    width: 32rem;
}
.sataliteBackgroundGlow g{
    mix-blend-mode: overlay;
}
@media screen and (max-width: 1400px) {
    .satalite img{
        width: 50%;
    }
    .sataliteBackgroundGlow{
        width: 30rem;
    }
    .sataliteVector{
        height: 18rem;
    }
}
@media screen and (max-width: 1200px) {
    .satalite img{
        width: 58%;
    }
    .sataliteGlow{
        height: 10rem;
    }
    .sataliteBackgroundGlow{
        width: 28rem;
    }
    .sataliteVector{
        height: 14rem;
    }
}
@media screen and (max-width: 800px) {
    .satalite img{
        width: 70%;
    }
    .sataliteBackgroundGlow{
        width: 26rem;
    }
    .sataliteVector{
        height: 10rem;
    }
}
@media screen and (max-width: 500px) {
    .satalite img{
        width: 80%;
    }
    .sataliteBackgroundGlow{
        width: 24rem;
    }
}