.satalite{
    position: absolute;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    overflow: hidden;
    
}
.sataliteVector{
    position: absolute;
    top: 74%;
    height: 20rem;
    z-index: -2;
}
.satalite img{
    position: absolute;
    height: 92%;
}
.sataliteGlow{
    
    height: 12rem;
    z-index: -2;
}
.sataliteBackgroundGlow{
    position: absolute;
    width: 32rem;
}
.sataliteBackgroundGlow g{
    mix-blend-mode: overlay;
}