.titleContainer{
    display: flex;
    flex-direction: row;
    margin-left: 13.5rem;
    margin-top: 4rem;
    /* justify-content: center; */

}
.title{
    display: flex;
    flex-direction: column;
    z-index: -1;
}
.metaverse{
    margin-top: 1rem;
    margin-left: 12.5rem;
    
    display: flex;
    
}
.metaverse svg{
    height: 6.5rem;
    width: fit-content;
}
.immersive svg{
    height: 7rem;
    width: fit-content;

}
.immersive{
     width: fit-content;
    display: flex;

}
.titleOne{
    font-family: 'Terminus';
    font-size: 1.2rem;
    color: rgba(255, 255, 255,0.5);
    margin: 0;
    margin-right: 1rem;
}
.titleLine{

}