.base{
    
}
.backgroundLines{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 100%;
    position: absolute;
    overflow-y: hidden;

}
.titleVideoContainer{
    display: flex;
    align-items: flex-end;
    position: relative;
}
